<html>
<head>
<title>Login</title>
</head>
<body>
<center>
<br><br>
<div style="text-align:center; font-family: Helvetica; color: #e50000;"><h2>Enter Credentials</h2><br></div>
<div style="text-align:center;"><img src="https://developer.sabre.com/public/Mashery/images/clients/sabre/about-Sabre.png" height="310" width="680"></div>
<br><br>
<input type="text" id="username" placeholder="Username"><br />
<input type="password" id="password" placeholder="Password"><br /><br><br>
<input type="button" value="Login" onClick="clicked()">
    <br><br><br><br><br>
    <div style="color: #3D3C3A;"><h6>© 2015 Aditya Shibrady. All Rights Reserved.</h6></div>
</center>
<script type="text/JavaScript">
    function clicked() {

        var user = document.getElementById('username');
        var pass = document.getElementById('password');

        var coruser = "Aditya";
        var corpass = "FreePass";

        if(user.value == coruser) {

            if(pass.value == corpass) {

//                window.alert("You are logged in as " + user.value);
                window.open('http://localhost:3001/index','_self',false);

            } else {

                window.alert("Incorrect username or password!");

            }

        } else {

            window.alert("Incorrect username or password!");

        }

    }
</script>
</body>
</html>