<div>
    <div style="text-align:center; font-family: Helvetica; color: #e50000;"><h4> Scan a customers' online presence!</h4></div>
    <br>
    <br>
    <div style="text-align: center;">
        <table>
            <tr>
                <form id="form">
                    Email ID:
                    <input type="text" name="email" ng-model="emailID">
                </form>
            </tr>
            <tr>
                <button id="searchb" class="search-button" ng-click="scanUser()" >Scan User!</button>
            </tr>
            </table>
        </div>
        <br>
    <center>
    <div style="text-align:center; font-family: Helvetica; color: #696969;"> <h2>{{pink}}</h2> </div>
    </center>
        <center>
            {{results.demographics.gender}}<br><br>
            {{results.demographics.locationDeduced.deducedLocation}}<br>
        </center>
        <div style="text-align:center; font-family: Helvetica; color: #e50000;"><h5>Social Media Presence Data</h5></div>
        <center>
        <table border="1" cellpadding="10">
            <tbody>
            <tr>
            <th>Social Media</th>
            </tr>
            <tr data-ng-repeat="res in results.socialProfiles">
                <td>
                        <a href={{res.url}}>{{res.type}}</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
    <div style="text-align:center; font-family: Helvetica; color: #e50000;"><h5>Customer's Interests</h5></div>
    <table border="1" cellpadding="10">
        <tbody>
        <tr>
            <th>Interests</th>
        </tr>
        <tr data-ng-repeat="resu in results.digitalFootprint.topics">
            <td>
                {{resu.value}}
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <div style="text-align:center; font-family: Helvetica; color: #e50000;"><h5>Customer's Influence Score</h5></div>
    <table border="1" cellpadding="10">
        <tbody>
        <tr>
            <th>Score</th>
        </tr>
        <tr data-ng-repeat="resul in results.digitalFootprint.scores">
            <td>
                {{resul.value}}
            </td>
        </tr>
        </tbody>
    </table>
    <br>
</center>
</div>